.divCardContainer {
  display: inline-block;
  margin-top: 25px;
}

span {
  margin-left: 20px;
}

.backGround-Uruguay {
  border: rgb(12, 12, 140);
}

label {
  margin-right: 10px;
}

/* .cardStyles {
  width: "13rem";
  margin-left: "50px";
  height: "29rem";
  border: "2px solid";
  border-color: green;
}
 */
